@import "~bootstrap/scss/bootstrap";

@import "partials/_vars.scss";
@import "partials/_card";
@import "partials/_jumbotron";
@import "partials/_form";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/brands';

@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
      h#{$i} {
          @content
      }
  }
}

@include headings() {
  font-family: $title-font;
  letter-spacing: 1px;
}

.container {
  padding: 0 !important;
  background-color: $light;
}

.row {
  margin: 0 !important;
}

.background-wallpaper {
  background: url("../images/woman-popcorn.webp") no-repeat center;
  // height: 40vh;
  background-size: contain;
}
.background-home {
  background: url("../images/woman.webp") no-repeat;
  // height: 88vh;
  background-size: contain;
}

// Calendar
.fc-time::after {
  content: "-";
  padding: 4px;
}

.c-badge {
  font-size: 1rem;
  color: whitesmoke;
  padding: .25em .4em;
  font-weight: 700;
  line-height: 1;
  border-radius: .25rem; 
}

.agenda {
  background: $dark;
}