// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// customize some Bootstrap variables
$primary: lighten(#428bca, 40%);


body {
    background-color: $primary;
}

.layout {
    margin: 15px;
}

img {
    width: 25%;
}