// Variables must be called before imports
$test: lighten(#428bca, 40%);
$secondary: yellow;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "partials/_card.scss";
@import "partials/_form.scss";

.layout {
  margin: 15px;
}

.background-wallpaper {
  background: url("../images/woman-popcorn.webp") no-repeat center;
  // height: 40vh;
  background-size: contain;
}

// Calendar
.fc-time::after {
  content: "-";
  padding: 4px;
}