<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!{% endblock %}
		</title>
		{% block stylesheets %}{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css">
	</head>
	<body>
    <header>
		{% block header %}{% include '_header.html.twig' %}{% endblock %}
    </header>
	<section class="container">
		{% block body %}{% endblock %}
	</section>
		{% block javascripts %}{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
