.card {
  position: relative;
  
  &:hover {
    transition-duration: 0.15s;
    transform: scale(1.04);
  }
}

.poster {
  width: 100%;
  object-fit: cover;
}

.card-title {
  color: whitesmoke;
}

.card-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  background-color: rgba(229, 224, 224, 0.4);
  color: whitesmoke;
  &:hover {
    background-color: yellowgreen;
  }
}