.card {
  border-radius: 0 !important;
  border: 0 !important;
}

.card-img {
  border: 0 !important;
  border-radius: 0 !important;
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

.card-title {
  font-weight: bold;
  font-size: 26px;
}