@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$light: lighten(#428bca, 40%);
$dark: darken(#428bca, 10%);
$secondary: rgb(185, 247, 216);
$title-font: 'Roboto', sans-serif;